<div clas="mt-4 mb-4" fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="10px" fxLayoutAlign="flex-start">
    <ng-container *ngFor="let game of games;">
        <mat-card  *ngIf="game.owner === currentUser || invitationAccepted(game)" fxLayout="column" class="mat-elevation-z4 ml-2 mr-2 mb-2" [ngClass]="routeAnimationsElements" @routeAnimations>
            <mat-card-header>
                <mat-card-title>{{game.name}}</mat-card-title>
                <mat-card-subtitle *ngIf="game.owner !== currentUser">{{ 'roleame-webapp.games.user_role.player' | translate }}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="game.owner === currentUser">{{ 'roleame-webapp.games.user_role.master' | translate }}</mat-card-subtitle>
            </mat-card-header>
        
            <mat-card-content fxLayout="row" fxLayout.xs="column">
                <p>{{ game.description }}</p>
            </mat-card-content>
        
            <mat-card-actions class="mt-4">
                <mat-divider></mat-divider>
                <button mat-button (click)="startGame(game)"><mat-icon color="primary">play_arrow</mat-icon>{{ 'roleame-webapp.label.play' | translate }}</button>
                <button *ngIf="game.owner !== currentUser" mat-button (click)="leaveGame(game)"><mat-icon color="primary">exit_to_app</mat-icon>{{ 'roleame-webapp.label.exit' | translate }}</button>
                <button *ngIf="game.owner === currentUser" mat-button (click)="editGame(game)"><mat-icon color="primary">edit</mat-icon>{{ 'roleame-webapp.label.edit' | translate }}</button>
                <button *ngIf="game.owner === currentUser" mat-button (click)="deleteGame(game)"><mat-icon color="primary">delete</mat-icon>{{ 'roleame-webapp.label.delete' | translate }}</button>
            </mat-card-actions>
        </mat-card>
    </ng-container>
</div>
