
<mat-card class="mat-elevation-z4 mt-4 mb-4" >
    <mat-vertical-stepper #stepperNewCharacter [linear]="true">
        <mat-step [stepControl]="basicInfoForm" label="{{'roleame-webapp.characters.new.basic_info' | translate}}">
            <form [formGroup]="basicInfoForm" fxFlex fxFlexAlign="start">
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="40px" fxLayoutAlign="start">
                    <div fxLayout="column" xFlex.gt-xs="calc(100% - 40)" fxFlex.gt-sm="calc(30% - 40px)">
                        <mat-form-field>
                            <mat-label>{{'roleame-webapp.label.name' | translate}}</mat-label>
                            <input matInput formControlName="name" required>
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>{{'roleame-webapp.label.class' | translate}}</mat-label>
                            <input matInput formControlName="class">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" xFlex.gt-xs="calc(100% - 40px)" fxFlex.gt-sm="calc(70% - 40px)">
                        <mat-form-field >
                            <mat-label>{{'roleame-webapp.label.background' | translate}}</mat-label>
                            <textarea matInput #background maxlength='500' formControlName="background" cdkTextareaAutosize cdkAutosizeMinRows="5"></textarea>
                            <mat-hint align="end">{{background.value.length}} / 500</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="attributesForm" label="{{'roleame-webapp.characters.new.attributes' | translate}}">
            <form fxFlex fxFlexAlign="start" [formGroup]="attributesForm">
                <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start">
                    <div fxLayout="column" xFlex.gt-xs="calc(100% - 10px)" fxFlex.gt-sm="calc(20% - 10px)">
                        <mat-form-field>
                            <mat-label>{{'roleame-webapp.label.agility' | translate}}</mat-label>
                            <input matInput type="number" min="0" [max]="maxAttrValue" formControlName="agility" required>
                            <span matSuffix>/{{maxAttrValue}}</span>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'roleame-webapp.label.hitpoints' | translate}}</mat-label>
                            <input matInput type="number"  min="0" [max]="maxAttrValue" formControlName="hitPoints" required>
                            <span matSuffix>/{{maxAttrValue}}</span>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'roleame-webapp.label.fellowship' | translate}}</mat-label>
                            <input matInput type="number"  min="0" [max]="maxAttrValue" formControlName="fellowship" required>
                            <span matSuffix>/{{maxAttrValue}}</span>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" xFlex.gt-xs="calc(100% - 10px)" fxFlex.gt-sm="calc(20% - 10px)">
                        <mat-form-field>
                            <mat-label>{{'roleame-webapp.label.strength' | translate}}</mat-label>
                            <input matInput type="number"  min="0" [max]="maxAttrValue" formControlName="strength" required>
                            <span matSuffix>/{{maxAttrValue}}</span>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>{{'roleame-webapp.label.wisdom' | translate}}</mat-label>
                            <input matInput type="number"  min="0" [max]="maxAttrValue" formControlName="wisdom" required>
                            <span matSuffix>/{{maxAttrValue}}</span>
                        </mat-form-field>
                        <button mat-raised-button (click)="generateRandomAttributes()" text-align="left"  mat-button>{{'roleame-webapp.characters.new.randomAttributes' | translate }}</button>
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="calc(70% - 10px)">
                       
                    </div>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="abilitiesForm" label="{{'roleame-webapp.label.abilities' | translate}}">
            <form [formGroup]="abilitiesForm">
                <div formArrayName="abilities" *ngFor="let ability of abilities.controls; let i = index; let lastItem = last" @routeAnimations [ngClass]="routeAnimationsElements">
                    <div [formGroupName]="i" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="40px" fxLayoutAlign="start">

                        <mat-form-field fxLayout="column" xFlex.gt-xs="calc(100% - 40px)" fxFlex.gt-sm="calc(20% - 40px)"> 
                            <mat-label>{{'roleame-webapp.label.name' | translate}}</mat-label>
                            <input matInput formControlName="name" required>
                        </mat-form-field>

                        <mat-form-field fxLayout="column" xFlex.gt-xs="calc(100% - 40px)" fxFlex.gt-sm="calc(70% - 40px)">
                            <mat-label>{{'roleame-webapp.label.description' | translate}}</mat-label>
                            <textarea matInput #description maxlength='500' formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="5"></textarea>
                            <mat-hint align="end">{{description.value.length}} / 500</mat-hint>
                        </mat-form-field>
                        <button mat-icon-button (click)="removeAbility(i)"> <mat-icon color="warn">cancel</mat-icon></button>
                    </div>
                </div>
            </form>
            <button mat-raised-button (click)="addAbility()" text-align="left"  mat-button>{{'roleame-webapp.characters.new.addAbility' | translate }}</button>
        </mat-step>

        <mat-step [stepControl]="imageForm" label="{{'roleame-webapp.label.image' | translate}}">
            <form [formGroup]="imageForm" fxLayout="column" >
                <label id="rbUploadLabel">{{'roleame-webapp.characters.new.get_image_from' | translate}}</label>
                <mat-radio-group formControlName="type" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="start">
                    <mat-radio-button #rbImageURL value="url" xFlex.gt-xs="calc(100% - 10px)" fxFlex.gt-sm="calc(33% - 10px)">URL</mat-radio-button>
                    <mat-radio-button #rbImageUpload value="upload" xFlex.gt-xs="calc(100% - 10px)" fxFlex.gt-sm="calc(33% - 10px)">{{'roleame-webapp.characters.new.upload_image' | translate}}</mat-radio-button>
                    <mat-radio-button #rbImageNone value="none" xFlex.gt-xs="calc(100% - 10px)" fxFlex.gt-sm="calc(33% - 10px)">{{'roleame-webapp.characters.new.noimage' | translate}}</mat-radio-button>
                </mat-radio-group>

                <mat-form-field *ngIf="rbImageURL.checked">
                    <mat-label>URL</mat-label>
                    <input matInput formControlName="imageValueURL" required>
                </mat-form-field>

                <mat-form-field *ngIf="rbImageUpload.checked">
                    <mat-label>{{'roleame-webapp.label.image' | translate}}</mat-label>
                    <ngx-mat-file-input #imageInput formControlName="imageValue" (change)="uploadImage($event)" placeholder=".jpeg, .png, .svg" [accept]="'.jpeg,.jpg,.png,.svg'"></ngx-mat-file-input>
                    <button mat-icon-button matSuffix *ngIf="!imageInput.empty" (click)="imageInput.clear($event)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    <mat-icon matSuffix>folder</mat-icon>
                </mat-form-field>
            </form>
        </mat-step>

        <mat-step label="{{'roleame-webapp.characters.new.finish' | translate}}">
            <button type="submit" mat-raised-button (click)="createCharacter()" mat-button>{{'roleame-webapp.characters.new.create_character' | translate}}</button>
        </mat-step>

    </mat-vertical-stepper>

</mat-card>
