@import '../../../../styles-variables';

h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

.portrait{
  width: 100%; 
  height: auto;
}

mat-card-content {
  margin-top: 20px
}



.edit-img {
  position: relative;
}

.overlay {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0px;
  right: 0px;
}