@import '../../../../styles-variables';

.tile {
  width: 100%;
  height: 100%;
  background: transparent;
}

.nostyle {
  border: none;
  background-color: transparent;
}

.tile button {
  width: 100%;
  height: 100%
}

.token {
  opacity: 80%
}
.token :hover {
  opacity: 100%
}