<div class="tile" #tile>

  <div *ngIf="!token?.character" class="tile" (click)="tileSelected()">
    <button class="nostyle"></button>
  </div>

  <div *ngIf="token?.character" class="tile"  (click)="tileSelected()" matBadge="{{ token.character.currentHealth }}" matBadgeSize="large">
    <button [class.selected-token]="token.isSelected" [class.player-character]="!token.isMaster" [class.master-character]="token.isMaster" class="token" mat-fab color="warn">{{token.character.character.name | slice:0:1 }}</button>
  </div>

  <mat-card *ngIf="token?.character" class="character-details" [class.nearBottom]="nearBottom" [class.nearTop]="nearTop">
    <mat-card-header>
      <mat-card-title>{{token.character.character.name}}</mat-card-title>
      <mat-card-subtitle>{{token.character.character.owner}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content gdAreas="health white | agility fellowship | wisdom strength" gdGap="0px 10px" gdColumns="50% 50%" gdRows="33% 33% 33%">
      <div gdArea="health">
        {{ 'roleame-webapp.tabletop.short_health'| translate}}: {{ token.character.currentHealth }}/{{ token.character.character.hitPoints }}
      </div>
      <div gdArea="agility">
        {{ 'roleame-webapp.tabletop.short_agility'| translate}}: {{ token.character.character.agility }}
      </div>
      <div gdArea="fellowship">
        {{ 'roleame-webapp.tabletop.short_fellowship'| translate}}: {{ token.character.character.fellowship }}
      </div>
      <div gdArea="wisdom">
        {{ 'roleame-webapp.tabletop.short_wisdom'| translate}}: {{ token.character.character.wisdom }}
      </div>
      <div gdArea="strength">
        {{ 'roleame-webapp.tabletop.short_strength'| translate}}: {{ token.character.character.strength }}
      </div>
    </mat-card-content>
  </mat-card>

  
</div>