<mat-card class="chat" fxLayout="column" fxLayoutGap="10px">
  <mat-card-header fxFlex="5%">
    <mat-card-title>Chat</mat-card-title>
  </mat-card-header>
  <mat-card-content fxFlex="95%" fxLayout="column" fxLayoutGap="10px">
    <div fxFlex="80%">
      <perfect-scrollbar suppressScrollX #chatScrollbar>
        <div *ngFor="let action of actions">
          <div *ngIf="action.actionType=='CHAT'"><span class="player-tag">{{action.player}}:</span>{{action.payload}} </div>
          <div *ngIf="action.actionType=='DICEROLL'" fxFlexLayout="column" fxLayoutAlign="center center">
            <div fxFlex="100%" fxFlexLayout="row" fxLayoutAlign="start center"><mat-icon >casino</mat-icon><span class="player-tag">{{action.player}} {{'roleame-webapp.tabletop.rolled' | translate}}</span></div>
            <span fxFlex="100%">{{ action.payload }}</span>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
    <form fxFlex="10%" [formGroup]="chatForm" fxLayout="row" fxLayoutGap="5px" >
      <mat-form-field class="tabletop-number-input" fxFlex="80%">
          <mat-label>{{ 'roleame-webapp.label.message' | translate}}</mat-label>
          <textarea #message formControlName="message" matInput></textarea>
          <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
      </mat-form-field>
      <button fxFlex="20%" type="submit" mat-stroked-button (click)="sendMessage()" mat-button>{{'roleame-webapp.tabletop.send' | translate}}</button>
    </form>
  </mat-card-content>
</mat-card>