//$roleame-webapp-light-primary: mat-palette($mat-grey, 200, 700, 300);
$roleame-webapp-light-primary: mat-palette($mat-grey, 800, 200, 1000);
$roleame-webapp-light-accent: mat-palette($mat-brown, 200);
$roleame-webapp-light-warn: mat-palette($mat-deep-orange, 500);

$roleame-webapp-theme: mat-light-theme(
  $roleame-webapp-light-primary,
  $roleame-webapp-light-accent,
  $roleame-webapp-light-warn
);
