$roleame-webapp-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$roleame-webapp-nature-accent: mat-palette($mat-deep-purple, 300);
$roleame-webapp-nature-warn: mat-palette($mat-red, 600);

$roleame-webapp-theme: mat-light-theme(
  $roleame-webapp-nature-primary,
  $roleame-webapp-nature-accent,
  $roleame-webapp-nature-warn
);
