//$roleame-webapp-light-primary: mat-palette($mat-grey, 200, 700, 300);
$roleame-webapp-light-primary: mat-palette($mat-amber, 400);
$roleame-webapp-light-accent: mat-palette($mat-amber, 600);
$roleame-webapp-light-warn: mat-palette($mat-deep-orange, 500);

$roleame-webapp-light-theme: mat-light-theme(
  $roleame-webapp-light-primary,
  $roleame-webapp-light-accent,
  $roleame-webapp-light-warn
);
