@import '../../../../styles-variables';

h1 {
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  text-transform: uppercase;
}

mat-card img{
  object-fit: contain;
}

mat-card {
  margin-top: 20px
}

mat-card-content {
  text-overflow: ellipsis;
  overflow: hidden;
}
