<div class="mr-2 ml-2 mt-4">
    <mat-expansion-panel hideToggle clas="mat-elevation-z4" fxLayout="column" fxLayoutGap="20px" fxLayoutGap.xs="10px" fxLayoutAlign="flex-start">
        <mat-expansion-panel-header>
            <mat-panel-title >{{ 'roleame-webapp.label.pending_invites' | translate}}</mat-panel-title>
            <mat-panel-description fxLayoutAlign="end"><mat-chip-list><mat-chip>{{invitations.length}}</mat-chip></mat-chip-list></mat-panel-description>
        </mat-expansion-panel-header>


        <mat-list role="list" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="flex-start">
            <mat-list-item fxFlex="100%" fxLayout="column" fxAlignLayout="center center" class="pd-4" role="listitem" *ngFor="let game of invitations; let lastItem = last" [ngClass]="routeAnimationsElements" @routeAnimations>
                <span fxFlex="70%">{{game.owner}} {{'roleame-webapp.games.invited_you' | translate}} "{{game.name}}"</span>
                <div fxFlex="30%" fxLayoutAlign="end center">
                    <button mat-stroked-button (click)="acceptInvitation(game)" class="mr-2">{{'roleame-webapp.label.accept' | translate}}</button>
                    <button mat-stroked-button color="warn" (click)="rejectInvitation(game)">{{'roleame-webapp.label.reject' | translate}}</button>
                </div>
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-expansion-panel>
</div>